<div>
    <div data-ng-include="'/app/layout/shell.html'"></div>
</div>

<span data-cc-scroll-to-top></span>

<!-- Vendor Scripts -->
<script src="~/scripts/jquery-2.0.3.js"></script>
<script src="~/scripts/angular.js"></script>
<script src="~/scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-cookies.js"></script>
<script src="~/scripts/angular-route.js"></script>
<script src="~/scripts/angular-sanitize.js"></script>
<script src="~/scripts/bootstrap.js"></script>
<script src="~/scripts/toastr.js"></script>
<script src="~/scripts/moment.js"></script>
<script src="~/scripts/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="~/scripts/spin.js"></script>
<script src="~/scripts/q.js"></script>
<script src="~/scripts/breeze.debug.js"></script>
<script src="~/scripts/breeze.directives.validation.js"></script>
<script src="~/scripts/breeze.to$q.js"></script>
<script src="~/scripts/breeze.saveErrorExtensions.js"></script>
<script src="~/Scripts/underscore.js"></script>

<!-- Bootstrapping -->

<script src="~/app/services/routingConfig.js"></script>
<script src="~/app/app.js"></script>
<script src="~/app/config.js"></script>
<script src="~/app/config.exceptionHandler.js"></script>
<script src="~/app/config.route.js"></script>

<!-- common Modules -->
<script src="~/app/common/common.js"></script>
<script src="~/app/common/logger.js"></script>
<script src="~/app/common/spinner.js"></script>

<!-- common.bootstrap Modules -->
<script src="~/app/common/bootstrap/bootstrap.dialog.js"></script>

<!-- app -->
<script src="~/app/dashboard/dashboard.js"></script>
<script src="~/app/layout/shell.js"></script>
<script src="~/app/layout/sidebar.js"></script>
<script src="~/app/admin/admin.js"></script>
<script src="~/app/login/Login.js"></script>
<!-- app Services -->
<script src="~/app/services/datacontext.js"></script>
<script src="~/app/services/directives.js"></script>
<script src="~/app/services/entityManagerFactory.js"></script>
<script src="~/app/services/userService.js"></script>
<script src="~/app/services/routeMediator.js"></script>
<!-- The SPA Views go here -->
<script src="~/app/controllers/licenseController.js"></script>