<section class="mainbar" data-ng-controller="login as vm">
    <div class="modal-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget worange  ">
                        <div class="widget-head">
                            <i class="fa fa-lock"></i> Login
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="">
                            <form class="form-horizontal">
                                <!-- Email -->
                                <div class="form control-group">
                                    <label class="control-label col-md-3" for="inputUserName">User Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="input-lg" data-ng-model="vm.userName"
                                               id="inputUserName" placeholder="User Name">
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="form control-group">
                                    <label class="control-label col-md-3" for="inputPassword">Password</label>
                                    <div class="col-md-9">
                                        <input type="password"
                                               data-ng-model="vm.password"
                                               class="input-lg" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <!-- Remember me checkbox and sign in button -->
                                <div class="form control-group">
                                    <div class="col-md-9 col-md-offset-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-ng-model="vm.rememberMe"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="submit" class="btn btn-danger" data-ng-click="vm.submit()">Sign in</button>
                                    <button type="reset" class="btn btn-primary" data-ng-click="vm.reset()">Reset</button>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
